<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div style="text-align: center;">
        <b>USERS</b>
        <br>
        <a href="/auth/registration">Create new account</a>
        <br>
        <a href="/auth/forgot_password">Password reset</a><br><br>
    </div>
    <div style="text-align: center;">
        <b>GAMES</b>
        <br>
        <a href="/games">Show games</a>
        <br>
        <a href="/games/new">Create new game</a><br><br>
    </div>
    <div style="text-align: center;">
        <b>TRADERS</b>
        <br>
        <a href="/object">Show traders</a>
        <br>
        <a href="/object/new">Create traders pages</a><br><br>
    </div>
    <div style="text-align: center;">
        <b>COMMENTS</b>
        <br>
        <a href="index.html">Create comment</a><br><br>
    </div>
    <div style="text-align: center;">
        sign in
    </div>
</body>
</html>